 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#intro-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
    position: absolute;
    top: 0;
    height: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  animation: move 6s forwards;
}
@keyframes move{
    0%{
  object-position: bottom;

    }
    50%{
  object-position: center;

    }
     
    100%{
  object-position:center;
  scale: 1.3;

    }
}
 .bg{
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    z-index: 555;
    animation: bg 2s ease-in-out 7s forwards;
    background-color: transparent;
 }
 @keyframes bg{
    to{
    background: radial-gradient(circle,#5c7da6, rgba(2, 19, 27, 1));
    }
 }
 
     
 .bg::after{
     content: "";
    position: absolute;
    inset: -5%;
    /* filter: drop-shadow(0 0 1vw #00eaff); */
    animation: light 1s ease infinite 7s;
    z-index: 444;
    background-color: transparent;

 }
 @keyframes light {
    0%{
   background-color: #0abaff;

        filter: brightness(1);
    }
    100%{
   background-color: #0abaff;

        filter: brightness(1.5);
    }
 }
 
 
/* البراجراف الأولي */
#portalText {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: bold;
    color: #e8ffff;
    opacity: 0;
    text-shadow: 0 0 20px #00eaff, 0 0 40px cyan;
    transition: opacity 1s ease, transform 1.5s ease, font-size 1.5s ease;
    z-index: 3;
    letter-spacing: 2px;

}

/* يظهر بعد ثانيتين */
#portalText.show {
    opacity: 1;
}

/* بعد الانفجار يكبر */
#portalText.expand {
    font-size: 6vw;
    transform: translate(-50%, -50%) scale(1.4);
    text-shadow: 0 0 60px #00eaff, 0 0 120px cyan;
    z-index: 666;
    letter-spacing: 2px;
    animation: text 1s infinite ease-in;
}
@keyframes text {
    0%{
         filter: brightness(1);
    }
    100%{
         filter: brightness(1.5);
    }
}
 /* تأثير الانفجار الدائري */
.explosionFlash {
    animation: flashExpand 1.8s ease-out forwards;
}

@keyframes flashExpand {
    0% {
        background: radial-gradient(circle, rgba(2, 19, 27, 1) 0%, black 90%);
    }
    50% {
        background: radial-gradient(circle, rgba(2, 19, 27, 1) 60%, #00141a 100%);
    }
    100% {
        background: radial-gradient(circle, #00141a 0%, black 100%);
    }
}

/* وميض كهربائي */
body.electric {
    animation: electricFlash 0.25s alternate 6 infinite;
}

@keyframes electricFlash {
    from { filter: brightness(1); }
    to { filter: brightness(1.5); }
}

 
 